<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <script src="https://unpkg.com/vue"></script> -->
	<script src="main.js" defer></script>
</head>
<body>
    <div id="app">
		<input type="text" name="search" v-model="search"><br>
		<table class="table table-dark">
			<tr v-for="item in students"  v-bind:key="item._id"> 
				<td>{{item.name}}</td>
                <td><input type="checkbox" v-model="item.isDonePr"></td>
                <td>{{item.group}}</td>
                <td><a href = "#" @click="deleteStudent(item._id)">Видалити</a></td>
			</tr>
		</table>
        <input v-model="student.name">
        <input type="checkbox" v-model="student.isDonePr">
        <select v-model="student.group">
            <option value="RPZ 19 1/9">RPZ 19 1/9</option>
            <option value="RPZ 19 2/9">RPZ 19 2/9</option>
        </select>
        <button @click="addStudent()">Add student</button>


        <br>
        <hr>

        <div class="converter">
            <h3>Converter</h3>
            <p>Amount: <input type="number" v-model = "convAmount" @change="convert()"></p>
            <p>From:
                <select v-model="convFrom" @change="convert()">
                    <option value="E">EUR</option>
                    <option value="H">UAH</option>
                    <option value="D">USD</option>
                </select> 
                To:
                <select v-model="convTo" @change="convert()">
                    <option value="E">EUR</option>
                    <option value="H">UAH</option>
                    <option value="D">USD</option>
                </select>
            </p>
            <!-- <p>convAmount = {{convAmount}} convUsd = {{convUsdBuy}} {{convUsdSell}} convEur = {{convEurBuy}} {{convUsdSell}}</p> -->
            <p>
                DH = {{convDH}}<br>
                HD = {{convHD}}<br> 

                EH = {{convEH}}<br> 
                HE = {{convHE}}<br> 

                ED = {{convED}}<br>  
                DE = {{convDE}}<br>   
            </p>
            <p>Answer: <input type="text" v-model = "convAnswer"></p>
        </div>

	</div>
</body>
</html>

<style>
    .converter{
        background-color: bisque;
    }
</style>